/* ==================================================
GLOBAL
================================================== */

/*temp until media queries*/
.body {
    min-width: 980px;
}

/*temp*/
.hgt-mimic {
    height: 2000px;
}

* {
    font-family: 'Lato', 'Open Sans', 'Open Sans Condensed', sans-serif;
}

.cont-whole {
    /*background-color: orange;*/
}

.stem {
    position: fixed;

    /* --- SET HEIGHT W/JS --- */
    /*height: 50%;*/
    width: 30%;
    min-width: 294px;

    border-right: 5px solid #000;
}

/* ==================================================
CONTENT CONTAINERS
================================================== */

.container-content {
    height: 500px;
    width: 100%;
    min-width: 980px;

    /*background-color: red;*/
}

.cont-left {
    float: left;

    width: 30%;

    /*background-color: blue;*/
}

.cont-right {
    float: right;

    width: 70%;

    /*background-color: green;*/
}

.cont-whole {
    clear: both;
    width: 100%;

    /*background-color: orange;*/
}

/* ==================================================
HEADER
================================================== */

.cont-nav {
    text-align: right;
}

.cont-mainTitle {
    text-align: left;
    padding: 0px;
}

ul.ul-simple {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.li-header {
    height: 80px;
    position: relative;
    /*background-color: pink;*/
    margin: 0px;
}

h1.name {
    font-family: "Permanent Marker", sans-serif;
    font-weight: 900;
    margin: 0px;
    padding: 0px 12px;
    font-size: 72px;
    color: #000;

    /* --- Fade in with JS --- */
    display: none;
}

h1.title {
    font-family: "Amatic SC", sans-serif;
    font-weight: 100;
    margin: 0px;
    padding: 0px 12px;
    font-size: 72px;
    color: #000;

    /* --- Fade in with JS --- */
    display: none;

}

.nav-item {
    padding: 0px 12px;
    color: #000;
    font-family: "Amatic SC", sans-serif;
    font-size: 36px;
}

.nav-item:hover {
    text-decoration: none;
    color: #000;
    font-family: "Permanent Marker", sans-serif;
}

.nav-item.inactive:hover {
    color: #fff;
}

.nav-span-active, .nav-span-inactive {
    position: absolute;
    bottom: 3px;
    right: 5px;

    /* --- reveal with JS --- */
    width: 0px;
}

.nav-span-inactive {
    background-color: black;

    /* --- reveal with JS --- */
    width: 0px;
}

.nav-span-inactive > .nav-item {
    font-family: "Permanent Marker", sans-serif;
    color: #fff;
}

/* ==================================================
HOVERS
================================================== */

.li-header:hover, body:hover {
    cursor: crosshair;
}

/***********************************************************************/


.cont-paragraph-right {
    text-align: right;

    width: 500px;
    height: 130px;

    /*background-color: purple;*/
}

.paragraph-right {
    width: 365px;
    height: 130px;
    color: #000;
    float: right;
    overflow: auto;
    padding: 5px 12px;
    font-size: 17px;
    font-family: 'Open Sans Condensed', sans-serif;
}

.cont-img {
    width: 60%;

    height: 125px;

    text-align: center;

    /*margin-top: 500px;*/
    /*background-color: pink;*/
}

.img {
    width: 300px;

    border-radius: 100%;
    border: 5px solid black;
}

.cont-title-right {
    background-color: #000;
    width: 0px;
    text-align: right;
    height: 50px;
}

h2 {
    font-weight: 100;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 38px;
    margin: 0px;
    padding: 0px 12px;
    color: #fff;
}



.page-gap {
    height: 200px;
}

.cont-title-left {
    float: right;
    text-align: right;

    background-color: black;
    /* --- set to 150px with JS --- */
    width: 0px;
    /*height: 500px;*/
}

h2.title-left {
    width: 150px;
}

.interest-icons {
    height: 82px;
}

.cont-interests-icons {
    padding: 0px;
    /*background-color: pink;*/
    margin: 0px;
    width: 500px;
    float: right;
}

.scrollbar-thin::-webkit-scrollbar {
    width: 5px;
}

.scrollbar-thin::-webkit-scrollbar-track {
    background-color: #fff;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #fff;
}

/* --- scrollbar-visible class added with JS --- */
.scrollbar-thin.scrollbar-visible::-webkit-scrollbar-thumb {
    background-color: #000;
}


/* ==================================================
OVERFLOWS
================================================== */

.nav-span-inactive, .nav-span-active,
.cont-paragraph-right,
.cont-title-right {
    overflow: hidden;
}

.cont-img {
    overflow: visible;
}

.paragraph-right {
    overflow: auto;
}

/* ==================================================
Z-INDEX
================================================== */

.cont-whole,
.cont-left,
.cont-right {
    z-index: 0;
}

.cont-title-right,
.cont-title-left,
.cont-paragraph-right {
    z-index: 1;
}

.cont-img,
.img {
    z-index: +10;
}

/* ==================================================
reveal
================================================== */
/* ********************
PERSONAL SUMMARY/EDUCATIONAL BACKGROUND/CAREER STATEMENT
******************** */
.bubble {
    -webkit-transform: scale(0);
    -moz-transform:    scale(0);
    -ms-transform:     scale(0);
    -o-transform:      scale(0);
    transform: scale(0);
    transition: all 1s;
}

.bubble.animate {
    -webkit-transform: scale(1);
    -moz-transform:    scale(1);
    -ms-transform:     scale(1);
    -o-transform:      scale(1);
    transform: scale(1);
    transition: all 1s;
}

.cont-title-right.no-width {
    width: 0px;
    transition: all 1s;
}

.cont-title-right.no-width.reveal-width {
    width: 500px;
    transition: all 1s;
}


.cont-paragraph-right.no-height {
    height: 0px;
    transition: all 1s;
    /*adjust: to keep items beneath pushed down*/
    margin-bottom: 130px;
}

.cont-paragraph-right.no-height.reveal-height {
    height: 130px;
    transition: all 1s;
    /*remove adjust*/
    margin-bottom: 0px;
}



.cont-title-left.no-width {
    width: 0px;
    transition: all 1s;
}

.cont-title-left.no-width.reveal-width {
    width: 150px;
    transition: all 1s;
}

.cont-paragraph-right.no-width {
    width: 0px;
    transition: all 1s;
}

.cont-paragraph-right.no-width.reveal-width {
    width: 500px;
    transition: all 1s;
}