/* ==================================================
GLOBAL
================================================== */

/*temp until media queries*/
.body {
    min-width: 720px;
    overflow-x: hidden;
}

/*temp*/
.hgt-mimic {
    height: 2000px;
}

* {
    font-family:
            /*'Lato',*/
            /*'Open Sans',*/
            'Open Sans Condensed', sans-serif;
}

/* ********************
~ STEM
******************** */
.stem {
    width: 30%;

    position: fixed;
    left:2px;

    border-right: 5px solid #000;
}

.stem-stub {
    border-right: 5px solid #000;

    position: relative;
    left: 2px;
}

/* ********************
~ PAGE GAPS
******************** */
.page-gap-100 {
    height: 100px;
    /*background-color: orange;*/
}

.page-gap-200 {
    height: 200px;
}

/* ********************
alignments
******************** */

.align-left {
    text-align: left;
}

.align-right {
    text-align: right;
}

.align-center {
    text-align: center;
}

/* ********************
CONTAINER HEIGHTS
******************** */

.height-50 {
    height: 50px;
}

/* ********************
~ FONTS
******************** */

.standard-character {
    color: #000;
    font-size: 17px;
    font-family: 'Open Sans Condensed', sans-serif;
}

h2 {
    font-weight: 100;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 38px;
    margin: 0px;
    padding: 0px 12px;

}

.font-white {
    color: #fff;
}

.font-black {
    color: #000;
}

/* ==================================================
~ CONTENT CONTAINERS
================================================== */

.container-content {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    height: auto;

    /*background-color: red;*/
}

.cont-left {
    float: left;

    width: 30%;

    /*background-color: blue;*/
}

.cont-right {
    float: right;

    width: 70%;

    /*background-color: green;*/
}

.cont-whole {
    clear: both;
    width: 100%;

    /*background-color: orange;*/
}

/* ********************
~ CONT IMG CENTERLINE
******************** */
.cont-img-centerLine {
    width: 60%;

    text-align: center;

    /*background-color: pink;*/
}


 /* ---ADJUSTS --- */
.no-height {
    height: 0px;
}

.height-105 {
    height: 105px;
}

.height-125 {
    height: 125px;
}

.height-130 {
    height: 130px;
}

.height-105 {
    height: 105px;
}

/* ==================================================
~ HEADER
================================================== */
ul.ul-simple {
    text-decoration: none;
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.li-header {
    height: 80px;
    position: relative;
    margin: 0px;

    /*background-color: pink;*/
}
/* ********************
~ NAV
******************** */
.cont-nav {
    text-align: right;
    position: relative;
    left: 2px
}

.cont-mainTitle {
    text-align: left;
    padding: 0px;
    position: relative;
    left: 2px;
}


.nav-item {
    padding: 0px 12px;
    color: #000;
    font-family: "Amatic SC", sans-serif;
    font-size: 36px;
}

.nav-item:hover {
    text-decoration: none;
    color: #000;
    font-family: "Permanent Marker", sans-serif;
}

.nav-item.inactive:hover {
    color: #fff;
}

.nav-span-active, .nav-span-inactive {
    position: absolute;
    bottom: 3px;
    right: 5px;
}

.nav-span-inactive {
    background-color: black;
}

.nav-span-inactive > .nav-item {
    font-family: "Permanent Marker", sans-serif;
    color: #fff;
}

/* ********************
~ MAIN TITLE
******************** */
h1.name {
    font-family: "Permanent Marker", sans-serif;
    font-weight: 900;
    margin: 0px;
    padding: 0px 12px;
    font-size: 72px;
    color: #000;
}

h1.title {
    font-family: "Amatic SC", sans-serif;
    font-weight: 100;
    margin: 0px;
    padding: 0px 12px;
    font-size: 72px;
    color: #000;
}


/* ==================================================
~ CONTENT OVERVIEW
================================================== */
/* ********************
~ OVERVIEW BUBBLES IMAGES
******************** */

.img-bubble {
    width: 300px;

    border-radius: 100%;
    border: 5px solid black;

    background-color: #fff;
}

/* ********************
~ OVERVIEW BUBBLES TEXT
******************** */
.cont-title-right {
    background-color: #000;
}

.title-right {
    width: 500px!important;
    padding-bottom: 9px;
    padding-left: 155px;
    /*line-height: 50px;*/
display: inline-block;
    /*background-color: red;*/
}

.overview-cont-paragraph-right {
    width: 500px;
    height: 130px;

    text-align: right;
}

/* --- CONT-PARAGRAPGH-RIGHT ADJUST --- */
.overview-cont-paragraph-right.unset-height {
    height: auto;
}

.overview-paragraph-right {
    width: 365px;
    /*height: 130px;*/

    float: right;
    padding: 5px 12px;
}

/* ********************
~ OVERVIEW INFO ROW
******************** */

.cont-title-left {
    float: right;
    text-align: right;

    background-color: black;
}

h2.title-left {
    width: 150px;
}

.cont-cols-icons {
    text-align: center;
    margin-bottom: 25px;
    /*background-color: blue;*/
}

.cont-overview-icons {
    width: 500px;

    float: right;

    padding: 0px;
    margin: 0px;

    /*background-color: red;*/
}



.overview-icons {
    height: 82px;
}




/* --- POI BULLETS --- */
.cont-bullets-right {
    text-align: left;
}

ul.ul-bullets {
    width: 500px;
}


/* ==================================================
CONTENTS TIMELINE
================================================== */
/* ********************
~ TIMELINE BUBBLE
******************** */
.timeline-year-bubble {
    width: 150px;
    height: 150px;

    border-radius: 100%;
    background-color: #000;
    display: inline-block;
}

h1.timeline-year-text {
    line-height: 150px;
    width:150px;
    margin: 0px;

    font-size: 72px;
    font-family: 'Open Sans Condensed';
    font-weight: 900;
}

/* ********************
~ TIMELINE INFORMATION BLOCK
******************** */

/*DATE*/
.cont-dateAndSidelines {
    height: 50px;
    overflow: visible;
    /*background-color: orange;*/
}

.cont-timeline-month {
    height: 50px;

    float: right;
    text-align: right;
    overflow: hidden;
    /*background-color: red;*/
}

h2.timeline-month {
    line-height: 50px;
    font-size: 50px;
    font-family: lato;
    font-weight: 900;
    text-transform: uppercase;
    overflow: hidden;

}

/*PARAGRAPH*/
.timeline-cont-paragraph-right {
    width: 500px;
    float: left;
    overflow: hidden;
    /*background-color: blue;*/
}

p.timeline-paragraph-right {
    text-align: justify;
    text-align-last: left;
    width: 500px;
    float: right;
    padding: 5px 12px;
}

/* ********************
~ TIMELINE SIDELINES
******************** */

.cont-sidelines {
    width: 200px;
    float: right;
}

/* --- sideline structure --- */
.sideline {
    width: 50px;
    height: 100%;

    float: right;
    position: relative;
}

.sideline-top {
    width: 50px;
    height:50px;

    border-radius: 100%;
    background-color: #fff;
    text-align: center;
    border: solid 1px black;

    float: right;
    position: relative;
}
.sideline-stem {
    width: 50%;
    height: 100%;

    border-right: dashed 1px black;
}

.sideline-bottom {
    width: 20px;
    height:20px;

    border-radius: 100%;
    background-color: #fff;
    border: solid 1px black;

    position: absolute;
    left: 15px;
    bottom:0px;
}

/* --- SIDELINE TEXT --- */
span.sideline-number {
    font-size: 25px;
    line-height: 10px;

    position: relative;
    top:10px;
}

span.sideline-months {
    font-size: 15px;
    line-height: 10px;

    position: relative;
    top:3px;
}


/* --- SIDELINE POSITIONS --- */
.sideline-pos1 {
    margin-right:0px;
    transition: all 1s;
}


.sideline-pos1.sideline-pos2 {
    margin-right:27px;
    transition: all 1s;
}

.sideline-pos1.sideline-pos2.sideline-pos3 {
    margin-right:54px;
    transition: all 1s;
}

.sideline-pos1.sideline-pos2.sideline-pos3.sideline-pos4 {
    margin-right:81px;
    transition: all 1s;
}

/* ==================================================
~ CONTENT CONTACT
================================================== */

.cont-contactDetails {
    height: 40px;

    padding-left: 90px;
    margin-bottom: 55px;
}

.contact-icon {
    width: 150px;
}

h1.contactDetails {
    width: 410px;
    margin: 0px;
    font-size: 38px;
}

/* ==================================================
FOOTER
================================================== */

.cont-quote {
    width: 500px;
    text-align: right;

    margin-bottom: 80px;
}

.cont-quote-pt2 {
    width: 500px;
    height: 250px;
    text-align: right;

    /*background-color: blue;*/
}


.contOuter-footer-promo {
    width: 150px;
    height: 600px;

    float: right;

    /*background-color: blue;*/
}

.contInner-footer-promo {
    width: 650px;
    height: 566px;

    /*background-color: green;*/
}


/* ********************
FONT STYLE
******************** */
h1.footer-quote {
    font-family: "Amatic SC", sans-serif;
    font-size: 72px;
    margin: 0px;
}

h1.footer-quote.bold {
    font-size: 90px;
    font-family: "Permanent Marker", sans-serif;
}

/* ********************
LIGHTBULB
******************** */
.img-lightbulb {
    position: relative;
    top: -140px;
}

/* ********************
FOOTER CONTACT
******************** */


.footer-contact-icon {
    width: 50px;
    margin-right: 12px;
}

/* ==================================================
HOVERS
================================================== */

.li-header:hover, body:hover {
    cursor: crosshair;
}

/* ==================================================
SCROLLBARS
================================================== */

.scrollbar-thin::-webkit-scrollbar {
    width: 5px;
}

/*body::-webkit-scrollbar {*/
    /*width: 10px;*/
/*}*/

.scrollbar-thin::-webkit-scrollbar-track
, body::-webkit-scrollbar-track
{
    background-color: #fff;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
    background-color: #fff;
}

/* --- scrollbar-visible class added with JS --- */
.scrollbar-thin.scrollbar-visible::-webkit-scrollbar-thumb
, body::-webkit-scrollbar-thumb
{
    background-color: #000;
}


/* ==================================================
OVERFLOWS
================================================== */

.nav-span-inactive, .nav-span-active,
.overview-cont-paragraph-right,
.cont-title-right,
.cont-bullets-right,
/*.container-content,*/
.cont-title-left,
.cont-contactDetails {
    overflow: hidden;
}

.cont-img-centerLine, .contOuter-footer-promo {
    overflow: visible;
}

.overview-paragraph-right {
    overflow: auto;
}

/* ==================================================
Z-INDEX
================================================== */

.stem {
    z-index: -1;
}

.cont-whole,
.cont-left,
.cont-right {
    z-index: 0;
}

.cont-title-right,
.cont-title-left,
.overview-cont-paragraph-right {
    z-index: 1;
}

.cont-img-centerLine,
.img-bubble {
    z-index: +10;
}

/* ==================================================
SCROLL TO TOP (INACTIVE)
================================================== */

.cont-scroll-to-top {
    width: 60px;
    height: 60px;
    float: right;
    margin-right: 150px;

    /*background-color: red;*/
}

.scroll-to-top {
    width: 50px;
    position: relative;
}

/* ==================================================
HIDE ITEMS
================================================== */

#overview
, #footer
/*, .footer-promo-text*/
, #contact
, h1.name
, h1.title
, #timeline
, .sideline-bottom
{
    display: none;
}

/* ==================================================
Animations
================================================== */
/* ********************
REVEAL IN JS
******************** */

.nav-span-active, .nav-span-inactive {
    width: 0px;
}

/* ********************
REVEAL IN CSS (add class JS)
******************** */

/* ********************
SCALE ONLY
******************** */
.bubble {
    -webkit-transform: scale(0);
    -moz-transform:    scale(0);
    -ms-transform:     scale(0);
    -o-transform:      scale(0);
    transform: scale(0);
    transition: all 2s;
}

.cont-timeline-year-bubble, .cont-sidelines.hide-away {
    -webkit-transform: scale(0);
    -moz-transform:    scale(0);
    -ms-transform:     scale(0);
    -o-transform:      scale(0);
    transform: scale(0);
    transition: all 1s;
}

.sideline-top {
    -webkit-transform: scale(0);
    -moz-transform:    scale(0);
    -ms-transform:     scale(0);
    -o-transform:      scale(0);
    transform: scale(0);
    /*transition: all 1s;*/
}

.bubble.reveal, .sideline-top.reveal, .cont-timeline-year-bubble.reveal {
    -webkit-transform: scale(1);
    -moz-transform:    scale(1);
    -ms-transform:     scale(1);
    -o-transform:      scale(1);
    transform: scale(1);
    transition: all 1s;
}


/* ********************
REVEAL WIDTH
******************** */
.no-width {
    width: 0px;
    transition: all 1s;
}

.cont-title-right.no-width.reveal-width
, .overview-cont-paragraph-right.no-width.reveal-width
, .cont-bullets-right.no-width.reveal-width
, .timeline-cont-paragraph-right.no-width.reveal-width
{
    width: 500px;
    transition: all 1s;
}


.cont-title-left.no-width.reveal-width, .cont-timeline-month.no-width.reveal-width {
    width: 150px;
    transition: all 1s;
}

/* ********************
REVEAL HEIGHT
******************** */
.overview-cont-paragraph-right.no-height {
    height: 0px;
    transition: all 1s;
    /*adjust: to keep items beneath pushed down*/
    margin-bottom: 130px;
}

.overview-cont-paragraph-right.no-height.reveal-height {
    height: 130px;
    transition: all 1s;
    /*remove adjust*/
    margin-bottom: 0px;
}

/* --- SIDELINE REVEAL HEIGHT ANIMATIONS --- */
.cont-sidelines.fl
, .cont-sidelines.gh
, .cont-sidelines.gd
, .cont-sidelines.km
, .cont-sidelines.lsa
, .cont-sidelines.sg
, .cont-sidelines.uoe
, .cont-sidelines.sa
{
    height: 0px;
}

.cont-sidelines.fl.reveal {
    height: 2444px;
    transition: all 1s;
}

.cont-sidelines.gh.reveal {
    height: 3785px;
    transition: all 1s;
}

.cont-sidelines.gd.reveal {
    height: 1227px;
    transition: all 1s;
}

.cont-sidelines.km.reveal {
    height: 2278px;
    transition: all 1s;
}

.cont-sidelines.lsa.reveal {
    height: 2871px;
    transition: all 1s;
}

.cont-sidelines.sg.reveal {
    height: 50px;
    transition: all 1s;
}

.cont-sidelines.uoe.reveal {
    height: 856px;
    transition: all 1s;
}

.cont-sidelines.sa.reveal {
    height: 1033px;
    transition: all 1s;
}


/* ********************
FOOTER COLOR IN
******************** */
.footer-bckgrnd {
    background-color: #fff;
    clear: both;
}

.footer-bckgrnd.illuminated {
    background-color: #FEF79D;
}

/* ********************
ARROW SCALE AND MOVE
******************** */
.arrow-scroll-down {
    position: relative;
    bottom: 425px;
    width: 60px;
    -webkit-transform: scale(0);
    -moz-transform:    scale(0);
    -ms-transform:     scale(0);
    -o-transform:      scale(0);
    transform: scale(0);
    transition: all 1s;
}

.arrow-scroll-down.reveal {
    bottom: 0px;
    -webkit-transform: scale(1);
    -moz-transform:    scale(1);
    -ms-transform:     scale(1);
    -o-transform:      scale(1);
    transform: scale(1);
    transition: all 1s;
}

/* ********************
CONTACT ANIMATION
******************** */
/* --- CONTACT ICON MOVE AND SCALE --- */
.contact-icon {
    position: relative;
    bottom: 250px;
    /*width: 60px;*/
    -webkit-transform: scale(0);
    -moz-transform:    scale(0);
    -ms-transform:     scale(0);
    -o-transform:      scale(0);
    transform: scale(0);
    /*transition: all 1s;*/
}

.contact-icon.reveal {
    bottom: 0px;
    -webkit-transform: scale(1);
    -moz-transform:    scale(1);
    -ms-transform:     scale(1);
    -o-transform:      scale(1);
    transform: scale(1);
    transition: all 1s;
}

/* --- CONTACT STEM-STUB GROW --- */
.stem-stub {
    height: 0px;
    /*transition: all 1s;*/
}

.stem-stub.reveal {
    height: 100px;
    transition: all 1s;
}

/* --- CONTACT DETAILS REVEAL WIDTH --- */
.cont-contactDetails {
    width:0px;
    /*transition: all 1s;*/
}

.cont-contactDetails.reveal {
    width:500px;
    transition: all 1s;
}


/* ==================================================
MEASUREMENT TOOL
================================================== */

.measure {
    width: 100%;
    background-color: red;
    opacity: 0.5;
    height: 50%;
}

.footer-promo-text {
    opacity: 0;
    transition: all 0.5s;
}

.footer-promo-text.fade-in {
    opacity: 1;
    transition: all 0.5s;
}


/**********************************************************************************************************************/

.port-sectionBubble {
    display: inline-table;

    width: 300px;
    height: 300px;

    border-radius: 100%;
    background-color: #000;
    /*display: inline-block;*/

    text-align: center;

    transition: all 1s;
}

.port-sectionBubble.small {
    display: inline-table;

    width: 150px;
    height: 150px;

    border-radius: 100%;
    background-color: #000;
    /*display: inline-block;*/

    text-align: center;

    transition: all 1s;
}



h1.port-sectionBubble-text {
    display: table-cell;
    vertical-align: middle;
    /*line-height: 150px;*/
    width:300px;
    margin: 0px;

    font-size: 50px;
    font-family: "Lato", sans-serif;
    font-weight: 900;

    transition: all 1s;
}

h1.port-sectionBubble-text.small {
    display: table-cell;
    vertical-align: middle;
    /*line-height: 150px;*/
    width:150px;
    margin: 0px;

    font-size: 30px;
    font-family: "Lato", sans-serif;
    font-weight: 900;

    transition: all 1s;
}

/*h1.port-sectionBubble-text.architecture {*/
    /*line-height: 300px;*/
    /*width:300px;*/
    /*margin: 0px;*/

    /*font-size: 72px;*/
    /*font-family: 'Open Sans Condensed';*/
    /*font-weight: 900;*/
/*}*/


/**********************************************************************************************************************/

/* ==================================================
BS CAROUSEL HACK
================================================== */
.carousel-fade .carousel-inner .item {
    opacity: 0;
    transition-property: opacity;
}

.carousel-fade .carousel-inner .active {
    opacity: 1;
}

.carousel-fade .carousel-inner .active.left,
.carousel-fade .carousel-inner .active.right {
    left: 0;
    opacity: 0;
    z-index: 1;
}

.carousel-fade .carousel-inner .next.left,
.carousel-fade .carousel-inner .prev.right {
    opacity: 1;
}

.carousel-fade .carousel-control {
    z-index: 2;
}

/*
WHAT IS NEW IN 3.3: "Added transforms to improve carousel performance in modern browsers."
now override the 3.3 new styles for modern browsers & apply opacity
*/
@media all and (transform-3d), (-webkit-transform-3d) {
    .carousel-fade .carousel-inner > .item.next,
    .carousel-fade .carousel-inner > .item.active.right {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.prev,
    .carousel-fade .carousel-inner > .item.active.left {
        opacity: 0;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    .carousel-fade .carousel-inner > .item.next.left,
    .carousel-fade .carousel-inner > .item.prev.right,
    .carousel-fade .carousel-inner > .item.active {
        opacity: 1;
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
}

/* just for demo purpose */
html,
body,
.carousel,
.carousel-inner,
.carousel-inner .item {
    height: 100%;
}

.item:nth-child(1) {
    /*background: blue;*/
}

.item:nth-child(2) {
    /*background: red;*/
}

.item:nth-child(3) {
    /*background: orange;*/
}

.modal-body .carouselHacked {
    /*height: 500px!important;*/
}

#carouselHacked {
    height: 100%;
    width: 100%;
}

/**********************************************************************************************************************/

.portfolio-mask-over {
    position: fixed;
    top: 0px;
    bottom: 0px;
    right: 0px;
    left: 0px;

    background-color: rgba(255, 255, 255, 1);

    z-index: 30;
    display: none;
    opacity: 0;
    transition: all 1s;
}

.portfolio-mask-over.show-item {
    display: block;
}

.portfolio-mask-over.fade-in {
    opacity: 1;
    transition: all 1s;
}

.cont-carousel-img {
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.carousel-img {
    max-width: 100vmin;
    max-height: 100vmin;

    padding-top: 59px;
}

.cont-caption-projectTitle {
    width: 100%;

    background-color: black;
}

h2.caption-projectTitle {
    width: 100%;
    padding-bottom: 9px;
}


.cont-caption-imageTitle {
    width: 100%;
    color: #000;

    position: fixed;
    top: 0px;
    right: 0px;

    background-color: rgba(255, 255, 255, 0.9);
}

h2.caption-imageTitle {
    width: auto!important;
    padding: 9px;
    display: inline-block;
}

.mask-over-close {
    font-family: "Permanent Marker", sans-serif;
    float: right;
}

.scroll-none {
    overflow: hidden;

    transition: all 1s;
    /*padding-right: 5px;*/
    /*margin-right: 5px;*/
    /*background-color: red;*/
}

body::-webkit-scrollbar {
    /*width: 10px;*/
}

/*body.scroll-none > .stem {*/
    /*position: fixed;*/
    /*left:0px;*/
/*}*/